USE [sony_rebuild_alpha_test]
GO
/****** Object:  Table [dbo].[sony_province]    Script Date: 11/26/2013 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sony_province](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[province] [nvarchar](200) NOT NULL,
	[provinceOrder] [int] NOT NULL,
 CONSTRAINT [PK_sony_province] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sony_province] ON
INSERT [dbo].[sony_province] ([id], [province], [provinceOrder]) VALUES (1, N'TP. Hồ Chí Minh', 1)
INSERT [dbo].[sony_province] ([id], [province], [provinceOrder]) VALUES (2, N'Hà Nội', 2)
INSERT [dbo].[sony_province] ([id], [province], [provinceOrder]) VALUES (3, N'Cần Thơ', 3)
SET IDENTITY_INSERT [dbo].[sony_province] OFF
/****** Object:  Table [dbo].[sony_center]    Script Date: 11/26/2013 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sony_center](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[address] [nvarchar](500) NULL,
	[phone] [nvarchar](50) NULL,
	[fax] [nvarchar](50) NULL,
	[province] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[retailLevel] [int] NOT NULL,
	[centerImage] [varchar](500) NULL,
	[opentime] [nvarchar](50) NULL,
	[closetime] [nvarchar](50) NULL,
	[longitude] [nvarchar](20) NULL,
	[latitude] [nvarchar](20) NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NOT NULL,
 CONSTRAINT [PK_sony_center] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sony_center] ON
SET IDENTITY_INSERT [dbo].[sony_center] OFF
/****** Object:  Default [DF_sony_center_retailLevel]    Script Date: 11/26/2013 20:21:50 ******/
ALTER TABLE [dbo].[sony_center] ADD  CONSTRAINT [DF_sony_center_retailLevel]  DEFAULT ((0)) FOR [retailLevel]
GO
/****** Object:  Default [DF_sony_province_provinceOrder]    Script Date: 11/26/2013 20:21:50 ******/
ALTER TABLE [dbo].[sony_province] ADD  CONSTRAINT [DF_sony_province_provinceOrder]  DEFAULT ((0)) FOR [provinceOrder]
GO
