USE [sony_rebuild_alpha_test]
GO
/****** Object:  Table [dbo].[sony_news_category]    Script Date: 11/26/2013 00:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sony_news_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentId] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[seoUrl] [nvarchar](500) NULL,
	[imageUrl] [varchar](500) NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NOT NULL,
 CONSTRAINT [PK_sony_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sony_news_category] ON
INSERT [dbo].[sony_news_category] ([id], [parentId], [name], [seoUrl], [imageUrl], [created], [updated]) VALUES (1, 0, N'Tin tức - Trải nghiệm', N'/news/category/1_tintuctrainghiem.aspx', NULL, CAST(0x0000A27901827777 AS DateTime), CAST(0x0000A27901827777 AS DateTime))
INSERT [dbo].[sony_news_category] ([id], [parentId], [name], [seoUrl], [imageUrl], [created], [updated]) VALUES (2, 1, N'Thông tin máy ảnh mới', N'/news/category/2_thongtinmayanhmoi.aspx', NULL, CAST(0x0000A2790183A6AB AS DateTime), CAST(0x0000A27A0008B25F AS DateTime))
INSERT [dbo].[sony_news_category] ([id], [parentId], [name], [seoUrl], [imageUrl], [created], [updated]) VALUES (3, 1, N'Ống kính và phụ kiện', N'/news/category/3_ongkinhvaphukien.aspx', NULL, CAST(0x0000A27901865E2A AS DateTime), CAST(0x0000A279018756AD AS DateTime))
SET IDENTITY_INSERT [dbo].[sony_news_category] OFF
/****** Object:  Table [dbo].[sony_news]    Script Date: 11/26/2013 00:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sony_news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[seoUrl] [nvarchar](500) NULL,
	[detail] [nvarchar](max) NULL,
	[description] [nvarchar](500) NULL,
	[categoryId] [int] NOT NULL,
	[published] [bit] NOT NULL,
	[metaTag] [nvarchar](500) NULL,
	[metaTitle] [nvarchar](500) NULL,
	[metaKeyword] [nvarchar](500) NULL,
	[viewCount] [int] NOT NULL,
	[likeCount] [int] NOT NULL,
	[newsImage] [varchar](500) NULL,
	[relatedNewsIds] [varchar](500) NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NOT NULL,
 CONSTRAINT [PK_sony_new] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sony_news] ON
SET IDENTITY_INSERT [dbo].[sony_news] OFF
/****** Object:  Default [DF__sony_news__viewC__4C6B5938]    Script Date: 11/26/2013 00:25:22 ******/
ALTER TABLE [dbo].[sony_news] ADD  DEFAULT ((0)) FOR [viewCount]
GO
/****** Object:  Default [DF__sony_news__likeC__4D5F7D71]    Script Date: 11/26/2013 00:25:22 ******/
ALTER TABLE [dbo].[sony_news] ADD  DEFAULT ((0)) FOR [likeCount]
GO
/****** Object:  Default [DF__sony_news__paren__4E53A1AA]    Script Date: 11/26/2013 00:25:22 ******/
ALTER TABLE [dbo].[sony_news_category] ADD  DEFAULT ((0)) FOR [parentId]
GO
