<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>-->
  <appSettings>
    <add key="FCKeditor:UserFilesPath" value="~/upload" />
    <add key="URL" value="http://localhost:15058" />
    <add key="vird" value="" />
  </appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=sony_rebuild_alpha;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">      
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
	<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <clear />
        <rule name="top" stopProcessing="true">
          <match url="^top/?$" />
          <action type="Rewrite" url="/Default.aspx" logRewrittenUrl="true" />
        </rule>
        <rule name="topadmin" stopProcessing="true">
          <match url="^topadmin/?$" />
          <action type="Rewrite" url="/admin/Default.aspx" logRewrittenUrl="true" />
        </rule>
        <rule name="loginadmin" stopProcessing="true">
          <match url="^login.aspx/?$" />
          <action type="Rewrite" url="/admin/Login.aspx" logRewrittenUrl="true" />
        </rule>
        <rule name="register" stopProcessing="true">
          <match url="^register.aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=register" logRewrittenUrl="true" />
        </rule>
        <rule name="album" stopProcessing="true">
          <match url="^album.aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=album" logRewrittenUrl="true" />
        </rule>
        <rule name="albumdetail" stopProcessing="true">
          <match url="^album/([0-9]+)_([a-z0-9]+).aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=albumdetail&amp;id={R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="photo" stopProcessing="true">
          <match url="^photo/([0-9]+)_([a-z0-9]+).aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=photo&amp;id={R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="page" stopProcessing="true">
          <match url="^page/([0-9]+)_([a-z0-9]+).aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=page&amp;id={R:1}&amp;name={R:2}" logRewrittenUrl="true" />
        </rule>    
        <rule name="seller" stopProcessing="true">
          <match url="^seller.aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=seller" logRewrittenUrl="true" />
        </rule>
        <rule name="seller_detail" stopProcessing="true">
          <match url="^seller/([0-9])" />
          <action type="Rewrite" url="/Default.aspx?tpl=sellerdetail&amp;id={R:1}" logRewrittenUrl="true" />
        </rule>        
        <rule name="product_category" stopProcessing="true">
          <match url="^product/category/([0-9]+)_([a-z0-9]+).aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=productcate&amp;id={R:1}&amp;title={R:2}" logRewrittenUrl="true" />
        </rule>
        <rule name="news_category" stopProcessing="true">
          <match url="^news/category/([0-9]+)_([a-z0-9]+).aspx?$" />
          <action type="Rewrite" url="/Default.aspx?tpl=news&amp;id={R:1}&amp;title={R:2}" logRewrittenUrl="true" />
        </rule>        
      </rules>
    </rewrite>
	</system.webServer>
</configuration>
